<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	
	<body>
		
		<% @ss.each  do |s| %>
			<h4><%= "#{s.klient} #{s.miasto}"%></h4>
			<br>
			<%= "#{s.opis}" %>
			<br><br>
		<% end %>

	</body>
</html>